h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 29.26px;
    text-align: center;
    color: #433823;
    margin-top: 50px;
  }
  .authorisation-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: center;
    color: #766b56;
    margin-top: 12px;
  }
  
  .register-box-text {
    display: flex;
    margin-top: 30px;
    gap: 5px;
    justify-content: center;
    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      text-align: center;
      color: #a99e89;
    }
  
    a {
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      text-align: center;
      color: #5e76a2;
      cursor: pointer;
      text-decoration: underline;
    }
  }
  
  .register-input {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 25.2px;
    }
    input {
      width: 344px;
      height: 48px;
      background-color: #e5e9f0;
      color: black;
      border-radius: 15px;
      padding: 14px 0 14px 24px;
      border: 0;
    }
    input.error {
      border: 1px solid red;
    }
    input.error:focus {
      outline: none;
    }
  }
  .error-message {
    display: flex;
    flex-direction: row-reverse;
    color: red;
  }
  