.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f2ee;
  width: 393px;
  height: 83px;
  img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}
