.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f2ee;
  width: 100%;
  height: 83px;
  margin-top: 17px;
  img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: filter 0.2s ease-in-out; 
  }

  .hovered { 
    filter: brightness(0.5) drop-shadow(0 0 5px ); 
  }
}